
.nav-font{
    font-family: "Baloo 2", cursive;
}


.coffee-card{
    background-color: #f7e9e9;
    box-shadow: 4px 4px 10px #c0c0c0;
}

.coffee-card:hover{
    z-index: 1;
    transform: scale(1.25);
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.card h5{

    color: #804040;
     
      
}
.footer-container{
    background-color:#f7e9e9;
    color: #804040;
    font-family: 'Great Vibes', cursive;
        
      
}